<table>
	<thead class="visually-hidden">
		<tr>
			<th scope="col">Quantity</th>
			<th scope="col">Product</th>
			<th scope="col">Price</th>
			<th scope="col">Remove?</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="line_item in vm.basket.line_items">
			<td class="quantity-field">
				<label for="quantity-{{$index}}" class="visually-hidden">Quantity of <span ng-bind="line_item.product.name"></span></label>
				<input type="number" id="quantity-{{$index}}" class="quantity" ng-model="line_item.quantity" ng-change="vm.updateLineItem(line_item, $index)" ng-model-options="vm.debounceOptions" />
			</td>
			<td>
				<h4 class="product-name" ng-bind="line_item.product.name"></h4>
				<p class="product-description">
					<span ng-bind="line_item.product.unit_price | currency:'£'"></span> / <span ng-bind="line_item.product.size"></span> <span ng-bind="line_item.product.pack_type"></span>
				</p>
			</td>
			<td class="price" ng-bind="line_item.subtotal | currency:'£'"></td>
			<td class="remove-field">
				<button type="button" class="text-only-button" ng-click="vm.removeLineItem(line_item, $index)">[&times;]</button>
			</td>
		</tr>
	</tbody>
</table>
