<div>
	<div ng-hide="vm.deliveryIsSet">
		<button class="button--primary large-button start-shopping" ng-click="vm.chooseDeliveryDate()">Start shopping</button>
	</div>
	<div ng-show="vm.deliveryIsSet" class="tabset">
		<div class="tabset__head">
			<button ng-click="vm.show = 'detail'" class="button--secondary tabset__button">Order detail</button>
			<button ng-click="vm.show = 'summary'" class="button--secondary tabset__button">Order Summary</button>
		</div>
		<div class="order-summary tabset__tab" ng-show="vm.show === 'summary'">
			<h3>Order type &amp; delivery</h3>
			<div class="panel">
				<button type="button" class="button--primary" ng-click="vm.chooseDeliveryDate()" style="float: right">Change</button>
				<ul>
					<li>Order type: <strong ng-bind="vm.basket.delivery_method || 'not chosen'"></strong></li>
					<li>Delivery day: <strong><span ng-bind="vm.basket.delivery_date | date: 'EEE, d MMM'"></span><span ng-hide="vm.basket.delivery_date">not chosen</span></strong></li>
				</ul>
			</div>

			<h3>Order value</h3>
			<div class="panel">
				<ul>
					<li>Subtotal: <strong ng-bind="vm.basket.subtotal | currency: '£'"></strong></li>
					<li>VAT: <strong ng-bind="vm.basket.total | currency: '£'"></strong></li>
					<li><strong>Total:</strong> <strong ng-bind="vm.basket.subtotal | currency: '£'"></strong> incVAT</li>
				</ul>
			</div>
		</div>
		<div class="basket tabset__tab" ng-show="vm.show === 'detail'" ng-include="'/views/partials/basket-table.html'"></div>

		<div class="basket-summary">
			<p class="totals">
				<span class="total excluding-vat"><span ng-bind="vm.basket.subtotal | currency: '£'"></span> exVAT</span>
				<span class="total including-vat">(<span ng-bind="vm.basket.total | currency: '£'"></span>) incVAT</span>
			</p>
			<a href="/checkout/" class="button--primary">Checkout</a>
		</div>
	</div>
</div>
