<div class="site-footer">
	<div class="content-wrap">
		<div class="footer-links">
			<section>
				<h3>Section 1</h3>
				<ul>
					<li><a href="#">Lorem ipsum dolor sit amet</a></li>
					<li><a href="#">Lorem ipsum dolor sit amet</a></li>
					<li><a href="#">Lorem ipsum dolor sit amet</a></li>
					<li><a href="#">Lorem ipsum dolor sit amet</a></li>
					<li><a href="#">Lorem ipsum dolor sit amet</a></li>
					<li><a href="#">Lorem ipsum dolor sit amet</a></li>
					<li><a href="#">Lorem ipsum dolor sit amet</a></li>
				</ul>
			</section>
			<section>
				<h3>Section 2</h3>
				<ul>
					<li><a href="#">Lorem ipsum dolor sit amet</a></li>
					<li><a href="#">Lorem ipsum dolor sit amet</a></li>
					<li><a href="#">Lorem ipsum dolor sit amet</a></li>
					<li><a href="#">Lorem ipsum dolor sit amet</a></li>
					<li><a href="#">Lorem ipsum dolor sit amet</a></li>
				</ul>
			</section>
			<section>
				<h3>Section 3</h3>
				<ul>
					<li><a href="#">Lorem ipsum dolor sit amet</a></li>
					<li><a href="#">Lorem ipsum dolor sit amet</a></li>
					<li><a href="#">Lorem ipsum dolor sit amet</a></li>
					<li><a href="#">Lorem ipsum dolor sit amet</a></li>
					<li><a href="#">Lorem ipsum dolor sit amet</a></li>
				</ul>
			</section>
			<section>
				<h3>Section 4</h3>
				<ul>
					<li><a href="#">Lorem ipsum dolor sit amet</a></li>
					<li><a href="#">Lorem ipsum dolor sit amet</a></li>
					<li><a href="#">Lorem ipsum dolor sit amet</a></li>
					<li><a href="#">Lorem ipsum dolor sit amet</a></li>
					<li><a href="#">Lorem ipsum dolor sit amet</a></li>
					<li><a href="#">Lorem ipsum dolor sit amet</a></li>
				</ul>
			</section>
		</div>
		<div class="footer-legal">
			<p>&copy; Pub Buying Club 2015</p>
			<p>
				<a href="#">Terms and conditions</a>
				<a href="#">About</a>
				<a href="#">Something else</a>
			</p>
		</div>
	</div>
</div>