<div class="site-header">
	<search-bar></search-bar>
	<div class="content-wrap">
		<div class="site-header__inner">
			<img src="/assets/images/logo.png" alt="Pub Buying Club" height="60" width="60" class="logo" />

			<button type="button" class="menu-button header-buttons" ng-click="vm.showMenu('primary')"><img src="/assets/images/bars.svg" height="25" width="25" alt="Menu" /></button>
			<nav class="primary-navigation" ng-class="{'is-hidden': vm.activeMenu !== 'primary'}">
				<a href="/">Home</a>
				<a href="/shop">Shop</a>
				<a href="/account">Account</a>
				<a href="/profile">Your profile</a>
			</nav>

			<button type="button" class="search-button header-buttons" ng-click="vm.toggleSearch()"><img src="/assets/images/search.svg" height="25" width="25" alt="Search" /></button>
			<button type="button" class="user-button header-buttons" ng-click="vm.showMenu('user')"><img src="/assets/images/user.svg" height="25" width="25" alt="User menu" /></button>

			<div class="dropdown-button user-status" ng-class="{'is-hidden': vm.activeMenu !== 'user'}">
				<button type="button" class="dropdown-button__button user">
					<span>Alex Knights</span>
					<img class="icon" src="//placehold.it/20x20" alt />
				</button>
				<ul class="dropdown-button__list user-nav">
					<li><a href="/login/select-outlet">Big Wednesday Arms</a></li>
					<li><button type="button" class="text-only-button" ng-click="vm.logout()">Logout</button></li>
				</ul>
			</div>

			<button type="button" class="basket-button header-buttons"><img src="/assets/images/shopping-cart.svg" height="25" width="25" alt="Basket"></button>
		</div>
	</div>
</div>
