html {
	font-size: 10px;
}

body {
	font-size: 1.4em;
	line-height: 1.6;
	font-family: $body-font;
}

// Headings
h1, h2, h3, h4 {
	font-weight: normal;
	line-height: 1.2;
}

h1 {
	margin-top: 0;
	font-size: 1.9rem;

	@media (min-width: $bp-medium) {
		font-size: 3.2rem;
	}
}

.header-link {
	color: inherit;
	font-size: inherit;
	font-family: inherit;
	font-weight: inherit;
	text-decoration: none;

	&:hover {
		color: inherit;
		text-decoration: underline;
	}
}


// Forms
.error {
	color: $error;
}

a,
.text-only-button {
	color: $link;
	text-decoration: none;

	&:hover {
		color: $link-hover;
	}
}

input,
select,
textarea
button {
	margin: 0;
	font-family: $body-font;
	border-radius: 0;
}

input {
	padding: 0;
	border: $border-strong;
	font-size: inherit;
	line-height: 1em;
	padding: $pad-half;
}

button {
	font-size: inherit;
	line-height: 1em;
	box-shadow: none;
}

%button {
	padding: .4em $pad;
	line-height: 1.5em;
	border-radius: 3px;
	font-weight: 600;
	font-family: $font-secondary;
	cursor: pointer;
	text-transform: uppercase;

	& + & {
		margin-left: $pad-half;
	}

	.icon {
		position: relative;
		top: .2em;
		margin-right: .1em;
	}
}

.button--primary {
	@extend %button;
	background: $ui-primary;
	color: $ui-primary-text;
	border: $ui-primary-border;

	&:hover {
		color: $ui-primary-text;
		background: $ui-primary-highlight;
	}
}

.button--secondary {
	@extend %button;
	background: $ui-secondary;
	color: $ui-secondary-text;
	border: $ui-secondary-border;

	&:hover {
		background: $ui-secondary-highlight;
		border-color: $ui-secondary-highlight-border-color;
	}
}

.button--hero {
	font-size: inherit;
}

.button--icon {
	@extend %button;
	line-height: 0.1;
}

%clearfix {
	&::before,
	&::after {
		content: " ";
		display: table;
	}

	&::after {
		clear: both;
	}
}

.large-button {
	font-size: 1.25em;
}

.text-only-button {
	padding: 0;
	border: 0 none;
	background: transparent;
	cursor: pointer;
	text-align: inherit;
	line-height: inherit;
}

.quantity {
	width: 3.5em;
}

// lists

ul,
ol {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.bulleted,
.numbered {
	padding-left: 1.5em;
	margin-bottom: $pad;
}

.bulleted {
	list-style-type: disc;
}

.numbered {
	list-style-type: decimal
}

.panel {
	background: $gradient;
	padding: $pad;

	&--featured {
		color: $ui-primary-text;
		background: $ui-primary;

		.heading {
			font-size: 1.3em;
			margin: 0;
		}
	}
}

// Utility
.visually-hidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

strong {
	// Avoiding faux-bold
	font-weight: 600;
}

%collapsible {
	overflow: hidden;
	max-height: 0;
	transition: max-height .25s ease-out;
}

%show-collapsible {
	max-height: 100vh;
	transition: max-height .25s ease-in;
}

.animate-slide {
	display: none;
}
