.basket {
	background: $gradient;

	&__upper {
		box-shadow: $section-shadow;
	}

	td {
		vertical-align: top;
	}

	.quantity-filed {
		vertical-align: middle;
	}

	tr + tr {
		td {
			border-top: $border-strong;
		}
	}

	.product-name,
	.price,
	.remove-field {
		line-height: 1.1;
	}

	.product-name {
		font-size: inherit;
		font-weight: inherit;
	}

	.price {
		font-weight: 600;
		vertical-align: top;
	}
}
