.dropdown-button {
	margin-top: -1px;
	max-height: 3.6rem;

	&__button {
		background: white;
		border: $border;
		color: $body-text;
	}

	&__list {
		background: white;
		border: $border;
		border-width: 0 1px;

		> li {
			border-bottom: $border;
		}
	}
}
