.dropdown-button {
	margin-top: -1px;
	max-height: 38px;

	&__button {
		background: white;
		border: 1px solid $border;
		color: $body-text;
	}

	&__list {
		background: white;
		border: 1px solid $border;
		border-width: 0 1px;

		> li {
			border-bottom: 1px solid $border;
		}
	}
}
