.product-thumb {
	padding-bottom: $pad-and-half;

	& + & {
		border-top: $border;
		padding-top: $pad-and-half;
	}

	&__name {
		color: $link;

		&:hover {
			color: $link-hover;
		}
	}

	&__image {
		border: 1px solid $link;

		&:hover {
			border-color: $link-hover;
		}
	}

	&__lower {
		background: $gradient;
		border: $border;
		border-width: 1px 0;
		padding: $pad-half;
	}

	&__more-info {
		border-bottom: $border;
		margin: 0 $pad-half*-1 $pad-half;
		padding: 0 $pad;
		font-size: 1.4rem;

		&__heading {
			font-size: 1.6rem;
		}
	}
}
