// Colors
$error: red;
$modal-background: #f5f5f5;
$shadow: rgba(0, 0, 0, .7);
$border-color: grey;
$highlight-color: rgba(0, 0, 100, .1);

// Variables
$pad: 1em;
$pad-half: $pad/2;
$pad-and-half: $pad*1.5;
$pad-double: $pad*2;

// Fonts
$body-font: Helvetica, Arial, Sans;