// Brand
$brand-dark: #005030; // racing green
$brand-mid: #97662a; // gold
$brand-light: #f9f7f3; // beige

// Colors
$error: red;
$modal-background: $brand-light;
$shadow: rgba(0, 0, 0, .7);
$border-color: $brand-mid;
$border-light: #e0d1bf;
$highlight-color: rgba(0, 100, 0, .1);
$body-text: black;
$body-bg: white;

$ui-primary-bg: $brand-dark;
$ui-primary-text: white;

// Variables
$pad: 1em;
$pad-half: $pad/2;
$pad-and-half: $pad*1.5;
$pad-double: $pad*2;

// Fonts
$body-font: Helvetica, Arial, Sans;

// Transitions
$transition-fast: .15s;
$transition-slow: .3s;
$transition: $transition-fast; // default
