.basket {
	font-size: 1.4rem;

	td {
		padding: $pad-half $pad/4;

		&:first-child {
			padding-left: 0;
		}

		&:last-child {
			padding-right: 0;
			text-align: right;
		}
	}

	.product-name,
	.product-description {
		margin: 0;
	}

	.basket-summary {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.total {
		display: block;
		line-height: 1.3;
	}

	.excluding-vat {
		font-size: 1.4em;
	}

	.including-vat {
		font-size: 1.2em;
	}
}
