.basket {
	font-size: 1.3rem;
	padding: $pad-half 0;

	.product-name,
	.product-description {
		margin: 0;
	}
}

.basket-summary {
	display: flex;
	align-items: center;
	justify-content: space-between;

	.total {
		display: block;
		line-height: 1.4;
	}

	.excluding-vat {
		font-size: 1.25em;
	}

	.including-vat {
		font-size: 1.1em;
	}
}

.start-shopping {
	width: 100%;
	padding-top: $pad;
	padding-bottom: $pad;
}
