.form-rows {
	list-style: none;
	margin: 0;
	padding: 0;
}

.form-row {
	display: flex;
	flex-flow: column-reverse nowrap;

	& + & {
		margin-top: $pad;
	}

	input + label::after {
		content: " (optional):"
	}

	input[required] + label::after {
		content: ":"
	}

	&.with-cta {
		padding-top: $pad;

		button {
			display: block;
			width: 100%;
			max-width: 26em;
			margin: 0 auto;
		}
	}

	&.with-postfix {
		flex-flow: row nowrap;

		input {
			flex-grow: 1;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			border-right: 0 none;
		}

		.postfix {
			flex-grow: 0;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
	}
}
