body {
	padding-top: 60px;
	transition: transform $transition;

	@media (min-width: 34em) {
		padding-top: 0;
	}
}

.show-search {
	transform: translateY(70px) translateZ(0);

	@media (min-width: 34em) {
		transform: none;
	}
}

.mobile-search {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 100%;
	z-index: 200;
	border-bottom: 1px solid $border-color;

	@media (min-width: 34em) {
		display: none;
	}
}

.site-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99;

	&__inner {
		display: flex;
		flex-flow: row nowrap;
		align-items: stretch;
		margin: 0 $pad*-1;
	}

	@media (min-width: 34em) {
		position: static;
		padding: $pad 0;
		margin: 0;

		&__inner {
			display: block;
		}
	}
}

.user-status {
	display: none;
	position: absolute;
	top: -$pad;
	right: 0;

	@media (min-width: 34em) {
		display: block;
	}
}

.logo {
	display: inline-block;
	vertical-align: middle;
	z-index: 100;
}

.header-buttons {
	flex-grow: 1;
	z-index: 100;

	@media (min-width: 34em) {
		display: none;
	}
}


.primary-navigation {
	position: absolute;
	top: 100%;
	left: -$pad;
	right: -$pad;
	z-index: 99;
	transform: translateY(0) translateZ(0);
	transition: transform $transition;

	&.is-hidden {
		transform: translateY(-100%) translateZ(0);
	}

	a {
		display: block;
	}

	@media (min-width: 34em) {
		position: static;
		display: inline-block;
		vertical-align: middle;
		margin-left: $pad;

		&.is-hidden {
			transform: none;
		}

		a {
			display: inline-block;

			+ a {
				margin-left: $pad;
			}
		}
	}
}

@media (min-width: 48em) {
	.logo,
	.primary-navigation {
		vertical-align: middle;
	}
}

.secondary-navigation {
	&:empty {
		display: none;
	}

	padding: $pad*3/4 0;

	&__inner {
		display: flex;
		flex-flow: row wrap;
	}

	a {
		padding: $pad/4 $pad-half;
		margin: $pad/4;
	}

	@media (min-width: 55em) {
		flex-flow: row nowrap;
		padding: 0;

		a {
			flex-grow: 1;
		}
	}
}