.modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-y: auto;

	.inner {
		position: absolute;
		top: $pad-double;
		left: $pad-double;
		right: $pad-double;
		padding: $pad-double;
		margin: 0 auto $pad-double;
	}

	&.is-narrow .inner {
		max-width: 30em;
	}
}
